body {
  background-color: #f6f6f6;
}

.card {
  margin: 50px;
  border: 1px solid #999;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 1px #777;
  min-height: 100px;
  max-width: 800px;
}

.searchResult {
  border-bottom: 1px solid #333;
  padding-top: 10px;
  padding-bottom: 10px;
}

.searchResult h3 {
  font-family: serif;
}

.searchResult:last-child {
  border: 0;
}